«<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>

	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->


    <!--creo la constante con la función que pone los miles-->
	<% const toThousand = n => n.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");  %> 

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
			
		<% products.forEach(element => { %>
			<!--utilizo cada propiedad de cada objeto que trae la variables productos por cada iteración-->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= element.id  %> ">
						<figure class="product-box_image">
							<img src="/images/products/<%= element.image%>" alt="imagen de producto">
						</figure>
						<article class="product-box_data">
							<span >$ <%= toThousand(element.priceDiscount  )%> </span>
							<% if (element.discount>0) { %>
								<span class="line-through">$ <%= toThousand(element.price  )%> </span>
								<span><%= element.discount%> %OFF </span>
							<% } %>
							<p><%= element.name  %></p>
							<i class="fas fa-truck"></i>
						</article>
					</a>
				</section>
			</div>
		<% }) %>	
		
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>